<div class="container-fluid">
	<div id="wrapper" class="row-fluid">
		<h3 class='menu'>Product</h3>
		<div class="alert alert-error" ng-show="error">{{errorMessage}}</div>
			<table style="width: 900px;">
				<tr>
					<td><label class="control-label"><strong>Product ID</strong></label>
					</td>
					<td><label class="control-label" ng-bind="product.id"></label></td>
				</tr>
				<tr>
					<td>
						<label class="control-label" for="title"><strong>Name</strong></label>
					</td>
					<td>
						<input type="text" ng-model="product.name" name="name" id="name">
					</td>
				</tr>
				<tr>
					<td>
						<label class="control-label" for="shortDescription"><strong>Short Description</strong></label>
					</td>
					<td>
						<textarea ng-model="product.shortDescription" name="shortDescription" id="shortDescription"></textarea>
					</td>
				</tr>
				<tr>
					<td>
						<label class="control-label" for="description"><strong>Description</strong></label>
					</td>
					<td>
						<textarea ng-model="product.description" name="description" id="description"></textarea>
					</td>
				</tr>
				<tr>
					<td>
						<label class="control-label" for="isFeatured"><strong>Is Featured</strong></label>
					</td>
					<td>
						<select ng-model="product.isFeatured" name="isFeatured" id="isFeatured">
							<option value="true">Yes</option>
							<option value="false">No</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<label class="control-label" for="rating"><strong>Rating</strong></label>
					</td>
					<td>
						<input type="number" ng-model="product.rating" name="rating" id="rating">
					</td>
				</tr>
				<tr>
					<td>
						<label class="control-label" for="reviews"><strong>Reviews</strong></label>
					</td>
					<td>
						<input type="number" ng-model="product.reviews" name="reviews" id="reviews">
					</td>
				</tr>
				<tr>
					<td>
						<label class="control-label" for="price"><strong>Price</strong></label>
					</td>
					<td>
						<input type="number" ng-model="product.price" name="price" id="price">
					</td>
				</tr>
				<tr>
					<td>
						<label class="control-label" for="status"><strong>Status</strong></label>
					</td>
					<td>
						<select ng-model="product.status" name="status" id="status">
							<option value="0">Active</option>
							<option value="1">In Active</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<label class="control-label" for="buyLink"><strong>Buy Link</strong></label>
					</td>
					<td>
						<input type="text" ng-model="product.buyLink" name="buyLink" id="buyLink">
					</td>
				</tr>
				<tr>
					<td>
						<label class="control-label" for="buyLink"><strong>Buy From</strong></label>
					</td>
					<td>
						<input type="text" ng-model="product.buyFrom" name="buyFrom" id="buyFrom">
					</td>
				</tr>
				<tr>
					<td>
						<label class="control-label" for="images"><strong>Images URL (CSV format)</strong></label>
					</td>
					<td>
						<textarea ng-model="product.images" name="images" id="images"></textarea>
					</td>
				</tr>
				<tr>
					<td>
						<label class="control-label" for="productCategory"><strong>Product Category</strong></label>
					</td>
					<td>
						<select ng-model="product.productCategory.id" name="productCategory" id="productCategory">
							<option ng-repeat="x in categories" value="{{x.id}}">{{x.name}}</option>
						</select>
						<li ng-repeat="x in response.data"></li>
					</td>
				</tr>
				<tr ng-show="!error">
					<td colspan="2">
						<button ng-if="product.id" type="submit" class="btn btn-primary" ng-click="editProduct()">Edit Product</button>
						<button ng-if="!product.id" type="submit" class="btn btn-primary" ng-click="addProduct()">Add Product</button>
					</td>
					<td colspan="2" style="text-align: right;">
						
					</td>
				</tr>
			</table>
	</div>
</div>