<h3 class='menu'>Product Categories 
		<a class="btn btn-primary pull-right" href="#/products/category/new"><i
			class="icon-plus-sign icon-white"></i> Create New Product Category</a>
</h3>
<div ng-controller="ProductCategoryListController as showCase">
	<table datatable="ng" dt-options="showCase.dtOptions" cellspacing="0" class="display" width="100%">
		<thead>
			<tr>
				<th>Name</th>
				<th>Edit</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="ProductCategoryList in showCase.myProductCategoryLists">
				<td>
					{{ProductCategoryList.name}}
				</td>
				<td>
					<div style="text-align: center; margin-top: 5px;">
						<a href="#/products/category/{{ProductCategoryList.id}}">
							<img src="../../..{{pathName}}img/edit.png" alt="edit" height="26" width="26">
						</a>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>